src/Paquete/ClaseEnvio.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Generated by the Oracle9i JDeveloper Web Services WSDL Generator-->
<!--Date Created: Wed Feb 15 14:06:29 VET 2006-->
<definitions
   name="wsUsuario"
   targetNamespace="http://Paquete/ClaseEnvio.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://Paquete/ClaseEnvio.wsdl"
   xmlns:ns1="http://Paquete/IClaseEnvio.xsd">
   <types>
      <schema
         targetNamespace="http://Paquete/IClaseEnvio.xsd"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
         <complexType name="Paquete_ClaseUsuario" jdev:packageName="Paquete" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="usuario" type="string"/>
               <element name="nit" type="string"/>
               <element name="aduana" type="string"/>
               <element name="aux" type="string"/>
               <element name="sistema" type="string"/>
               <element name="perfil" type="string"/>
               <element name="lopcion" type="ns1:ArrayOfPaquete_ClaseOpcion"/>
            </all>
         </complexType>
         <complexType name="ArrayOfPaquete_ClaseOpcion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:Paquete_ClaseOpcion[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="Paquete_ClaseOpcion" jdev:packageName="Paquete" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codopc" type="string"/>
               <element name="desc" type="string"/>
               <element name="codant" type="string"/>
               <element name="accion" type="string"/>
            </all>
         </complexType>
      </schema>
   </types>
   <message name="pListaOpciones0Request">
      <part name="Usuario" type="xsd:string"/>
      <part name="Clave" type="xsd:string"/>
      <part name="Sistema" type="xsd:string"/>
   </message>
   <message name="pListaOpciones0Response">
      <part name="return" type="ns1:Paquete_ClaseUsuario"/>
   </message>
   <message name="pCambiaClave1Request">
      <part name="Usuario" type="xsd:string"/>
      <part name="OldClave" type="xsd:string"/>
      <part name="NewClave" type="xsd:string"/>
   </message>
   <message name="pCambiaClave1Response">
      <part name="return" type="xsd:int"/>
   </message>
   <portType name="ClaseEnvioPortType">
      <operation name="pListaOpciones">
         <input name="pListaOpciones0Request" message="tns:pListaOpciones0Request"/>
         <output name="pListaOpciones0Response" message="tns:pListaOpciones0Response"/>
      </operation>
      <operation name="pCambiaClave">
         <input name="pCambiaClave1Request" message="tns:pCambiaClave1Request"/>
         <output name="pCambiaClave1Response" message="tns:pCambiaClave1Response"/>
      </operation>
   </portType>
   <binding name="ClaseEnvioBinding" type="tns:ClaseEnvioPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="pListaOpciones">
         <soap:operation soapAction="" style="rpc"/>
         <input name="pListaOpciones0Request">
            <soap:body use="encoded" namespace="wsUsuario" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="pListaOpciones0Response">
            <soap:body use="encoded" namespace="wsUsuario" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="pCambiaClave">
         <soap:operation soapAction="" style="rpc"/>
         <input name="pCambiaClave1Request">
            <soap:body use="encoded" namespace="wsUsuario" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="pCambiaClave1Response">
            <soap:body use="encoded" namespace="wsUsuario" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="wsUsuario">
      <port name="ClaseEnvioPort" binding="tns:ClaseEnvioBinding">
         <soap:address location="http://localhost:8888/wUsuario-pUsuario-context-root/wsUsuario"/>
      </port>
   </service>
</definitions>
